.App {
  text-align: center;
}

h1{
  font-family: cursive;
  font-size: 3em;
  margin-bottom: 30px;
}

.container {
  border: .2em solid #D7BEA8;
  background-color: #F3D9DC;
  border-radius: 5px;
  padding: 1em;
  width: 35%;
  margin: auto;
  margin-bottom: 1em;
  display: table;
}

.container span {
  font-weight: bold;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container button {
  float: right;
  position: relative;
  padding: 0.3em 1.2em;
  background-color: #4e9af1;
  border-radius: 25%;
  vertical-align: middle;
  font-size: 1em;
	box-shadow: 0 3px 20px 0 #0000003b;

}
