<h1>Create a new Universe</h1>

<form method="POST" action="/universes">
  <label for="universe[name]">Name</label>
  <input type="text" name="universe[name]">
  <br>
  <label for="universe[size]">Size</label>
  <input type="number" name="universe[size]">
  <br>
  <label for="universe[color]">Color</label>
  <input type="text" name="universe[color]">
  <br>
  <input type="submit" value="Create Universe">
</form>