<h1>Here are you search results for <%= params[:search_term] %></h1>

<% @universes.each do |universe| %>
  <p>
    <a href="/universes/<%= universe.id %>">
      <%= universe.name %>
    </a>
  </p>
<% end %>